<!-- Header-Bereich -->
<header>
    <div class="logo">
      <a href="index.html">
        <img src="assets/images/logo.png" alt="SkyHaven Logo" />
      </a>
    </div>
    <div class="menu-toggle">☰</div>
    <!-- Navigation -->
    <nav>
      <ul>
        <li><a href="index.html">Startseite</a></li>
        <li><a href="Dienstleistungen.html">Leistungen</a></li>
        <li><a href="Uebermich.html">Über mich</a></li>
        <li><a href="Kontakt.html">Kontakt</a></li>
      </ul>
    </nav>
  </header>
  
  </div>